body {
	margin:0;
}
canvas {
	background-color: #000064;
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
}
heading {
	text-align: center;
	color:#965F19;
}
ul {
	float: left;
	margin: 0;
}
li a {
	text-decoration: none;
	display:block;
	color: #965F19;
	padding: 6px 12px;
}
li a:hover {
	color:red;
}
#description {
	color: grey;
	width: 20%;
	float: left;
footer {
	position: absolute;
	right:0;
	left:0;
	bottom:0;
	background-color: grey;
	text-align: center;
}